<div>
    <app-header></app-header>
    <div class="dad">
        <div class="son">
            <app-card tittle="S i e" img="/assets/Images/Index/Andreita.png" (click)="navigate('Andreita')"></app-card>
        </div>
        <div class="son">
            <app-card tittle="W i r" img="/assets/Images/Index/Wir.png" (click)="navigate('Wir')"></app-card>
        </div>
        <div class="son">
            <app-card tittle="E r" img="/assets/Images/Index/Marco.png" (click)="navigate('Marco')"></app-card>
        </div>
    </div>

</div>