<div class="main"> 
    <app-header></app-header>
    <div class="parent">
        <div class="div1"></div>
        <div class="div2"> 
            <strong> Who is Marco? </strong>
            <p>Marco es el tipo de persona que no se puede encasillar en tan poco siendo que tiene tantas cualidades grandiosas como que es inteligente, honesto, empático, sencillo, gracioso, dedicado, amable, organizado, cariñoso, responsable, sensible, muy disciplinado y versátil</p>
            <p>Hablando sobre su aspecto físico, en la definición de hermoso, tiene una armonía en cuanto a su personalidad y su aspecto físico, no solo es una persona muy bella por dentro, sino que también es muy atractivo, tiene el cabello rizado y negro, sus ojos son cafés y tiene algo en su mirada que lo hace aún más atractivo de ver, y su sonrisa es tímida pero bonita. </p>
            <p>En cuanto a sus gustos, puede parecer que es muy complicado, sin embargo, creo que es más bien sencillo y por lo mismo es algo difícil de descifrar en ese aspecto, pero realmente le gustan los detalles en general ya que también es una persona muy observadora. </p>
            <p>Suele cuidar mucho su aspecto, realiza deporte y cuida su alimentación, a pesar de que la cuida, disfruta mucho la comida y come bastante, le gusta conocer nuevos restaurantes y hacer de crítico de vez en cuando. </p>
            <p>Un dato gracioso sobre él puede ser que a veces inventa palabras (porque no recuerda cómo se dicen o por su dislexia). .</p>
        </div>
    </div>
</div>

