<div class="main"> 
    <app-header></app-header>
    <div class="parent">
        <div class="div1"></div>
        <div class="div2"> 
            <strong> ¿Who is Andrea? </strong>
            <p>Perla Andrea Rodríguez Ortíz es una persona bella, por dentro y por fuera, me atrevo a decir que, es de las pocas personas tan puras de corazón, es una niña llena de nobleza en su ser, repleta de bondad, alguien que simplemente genera confianza y amabilidad al tratarla.</p>
            <p>Es una estudiante totalmente orgullosa de nutrición, llena de vocación y amor hacía el estudio, no es de sorprenderse, debido a que entre los valores que la caracterizan destacan la empatía, la solaridad, la sensibilidad, la responsabilidad, valores que aplica a diario naturalmente.</p>
            <p>Además, es de admirar una de sus principales virtudes, la versatilidad. Es ese tipo de personas que se adaptan a todo, siempre dispuesta a ver más allá de lo que conoce, no se cierra a una sola idea, y le es fácil convivir con personas con personalidades totalmente diferentes a la de ella.</p>
            <p>Como dato curioso menciono que, tiene un acento hipnotizante, quizá de primera instancia uno no se percate, pero, al prestarle atención, es notable la connotación que tiene la letra "S" en sus oraciones, una vez que se percibe, es imposible dejar de notarlo.</p>
            <p>Su físico es perfecto, su cuerpo en conjunto con sus gestos transmiten fragilidad y delicadeza, una sonrisa bellísima y una mirada coqueta la complementan. Simplemente ella es divina.</p>
        </div>
    </div>
</div>

